<div class="carousel-element" id="<%= short_id %>">
    <img src="/assets/hackathons/<%= short_id %>.png" class="carousel-image">
    <div class="carousel-info">
            <span class="carousel-title"><a href="<%= url %>" target="_blank"><%= name %></a></span>
        <% if(showDate) { %><span class="carousel-location"><%= date %></span> <%}%>
    </div>
</div>
